// Default theme variables
// =======================

// Colors
@import 'colors';

// Grid
@import 'grid';

// Typography
@import 'typography';

$left-sidebar-width: 320px;
$left-sidebar-margin: 2.5rem;
$header-height: 60px;
$border-radius: 15px;
$border-radius-small: 5px;
$border-radius-medium: 8px;
